*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    height: 80px;
    padding-top:20px;
}

main{
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;;
}

#perfil{
    border: 1px solid black;
    width: 250px; height: 250px;
    text-align: center; 
}

#yourfeed{
    margin: 40px;
    gap: 20px;
    font-size: 20px;
}
.feed{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    width: 750px; height: 60px;
    border: solid 1px black;
    margin: 20px 0px;
    background-color: rgb(199, 199, 199);
    
}

.boton{
    display: flex;
    gap: 15px;
    align-items: center;
}

.like{
    background-color: yellow;
    width: 90px; height: 40px;
    font-weight: bold;
}